<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	<resultMap id="ResultMapWithRoles" type="com.example.domain.User"
		extends="BaseResultMap">
		<association column="u_id" property="roles" select="com.example.mapper.RoleMapper.selectByUserId"/>
	</resultMap>

	<select id="selectByPrimaryKeyWithRoles" parameterType="java.lang.Long"
		resultMap="ResultMapWithRoles">
		select
		<include refid="Base_Column_List" />
		from user u where u.id = #{id}
	</select>
</mapper>